.Pallets{
    margin: 5px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: start;
    align-items: center;
    column-gap: 0px!important;
    width: 70%;
    padding: 15px;
    height: 210px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px, rgba(0, 0, 0, 0.16) 0px 2px 5px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
   
}
img{
    width: 100px;
    height: 100px;
}


.marg{
    
    margin: -10px auto;
}

main {
    margin: 30px auto;
}


.palletEX {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}