.Pallets{
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: start;
    align-items: center;
    column-gap: 0px!important;
    width: 70%;
    padding: 10px;
    height: 210px;
  
   
}
img {
    width: 100px;
    height: 100px;
}

.marg{
    width: 60%;
    margin: 20px auto;
}
