

.App {
  text-align: center;
}

main{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

header{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px, rgba(0, 0, 0, 0.16) 0px 2px 5px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    height: 80px;
    

}
header > h1 {
  
  font-size: 40px;
  background: -webkit-linear-gradient(#FF9671,#F06292,#F44336, #F35C87);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin:10px;
  float: left;
}

ul {
  float: right;
  margin-top:30px;
}

a {
  font-size: 20px;
  margin: 20px;
  text-decoration: none;
}


.navbar, .nav-link{
  padding: 0px;
}

.headerbg {
  background-color: #f8f9fa;
  height: 70px;
  font-size: 20px;
  color: rgba(0,0,0,.5);
  position: relative
 
}
.headerbg > p {
  margin: 0px;
  position: absolute;             
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
@media (min-width: 992px){

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px;
  }
}
