

.App {
  text-align: center;
  font-family: 'Piedra', cursive;

}

main{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

header{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px, rgba(0, 0, 0, 0.16) 0px 2px 5px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    height: 80px;

}
header > h1 {
  
  font-size: 40px;
  background: -webkit-linear-gradient(#FF9671,#F06292,#F44336, #F35C87);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin:10px;
  float: left;
}

